{% extends 'partials/base.html' %} {% block content %}
<section class="container d-flex flex-column mt-5">
  <div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
    <div class="col-lg-6 col-md-8 py-8 py-xl-0">
      <div class="card shadow border-0">
        <div class="card-body p-6">
          <div class="mb-4 text-center">
            <h2 style="color: #183d4f">Creează un cont nou</h2>
            <p class="text-muted">
              Ai deja un cont?
              <a href="{% url 'login' %}" style="color: #183d4f"
                >Autentifică-te</a
              >
            </p>
          </div>
          <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button
              type="submit"
              class="btn"
              style="
                background-color: #183d4f;
                border-color: #183d4f;
                color: white;
              "
            >
              Creează cont
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
